{% extends 'layouts/base.html.twig' %}

{% block body %}


<div class="row">
<div class "col-md-6 mx-auto">
	<h1 class="mt-5 h2 font-weight-light"> Edition {{articles.name}}</h1>

	{{ form(form) }}
</div>
</div>

{% endblock %}
